html{
	height:100% ;
	margin: 0;
	padding: 0;
}
body{
	height:100% ;
	margin: 0;
	padding: 0;
}
#app{
	height:100% ;
	margin: 0;
	padding: 0;
}
.el-breadcrumb{
	margin-bottom: 10px;
	font-size: 18px;
}
.el-card{
	box-shadow: 0 1px 1px rgba(0,0,0,0.15) !;
}
.ql-editor {
  min-height: 300px;
}